In [7]:
import pandas as pd
import requests

from bs4 import BeautifulSoup
final = pd.DataFrame()

In [8]:
import numpy as np

    


for k in range(1,20):
    
    url = 'https://www.justdial.com/Vellore/Banquet-Halls/nct-10035861/page-{}'.format(k)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get( url , headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
     
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []
    
    
    
    for l in range(0, 10):
        category_name.append('Banquet_Halls') #category_name
        address.append(soup.find_all('a',class_ = 'morehvr')[l].text.strip()[12:]) #address
        votess.append((soup.find_all('span',class_ = 'lng_vote')[l].text)) #no of votes
        rating.append(soup.find_all('span',class_ = 'green-box')[l].text.strip())  #reviews
        namee.append(soup.find_all('span',class_ = 'lng_cont_name')[l].text.strip())  #max 9 values
        
    finans = []
    for j in votess:

        for i in j.split():
            if i.isdigit():
                finans.append(i) 
                
                
    d = {'category_name': category_name,  'name': namee, 'rating': rating,'votes':finans, 'address': address}
    df = pd.DataFrame(d)
    
    final = pd.concat([final,df], ignore_index = True)
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []

In [9]:
final

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
185,Banquet_Halls,K.I.S. Marriage Function Ha..,3.9,21,"nnamadhar Sahebstreet, Tamil Nadu, Tirupattur,..."
186,Banquet_Halls,Jsr Kusturi Mahal,3.9,21,"nnakallupalli, Vellore - 635851"
187,Banquet_Halls,Tmt Mahal,3.7,21,"anipakkam, Thangam Nager, Vellore - 632101, Op..."
188,Banquet_Halls,Kavalar Thirumana Mandapam,3.2,21,"anthapuram, Fort Round Road, Kosapet, Vellore ..."
189,Banquet_Halls,Sengunthar Thirumana Mandap..,4.2,21,"apandal, Vellore - 632318"

In [11]:
final.groupby('category_name').sum()

,name,rating,votes,address
category_name,,,,
Banquet_Halls,Shree Lakshmi Function HallLts Mahal AcPm Maha...,4.15.04.54.85.03.74.04.54.13.53.94.94.53.54.14...,9944442266507350735555460460252512212276597659...,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."

In [12]:
import numpy as np

    


for k in range(1,20):
    
    url = 'https://www.justdial.com/Vellore/Hospitals/nct-10253670/page-{}'.format(k)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get( url , headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
     
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []
    
    
    
    for l in range(0, 10):
        category_name.append('Hospitals') #category_name
        address.append(soup.find_all('a',class_ = 'morehvr')[l].text.strip()[12:]) #address
        votess.append((soup.find_all('span',class_ = 'lng_vote')[l].text)) #no of votes
        rating.append(soup.find_all('span',class_ = 'green-box')[l].text.strip())  #reviews
        namee.append(soup.find_all('span',class_ = 'lng_cont_name')[l].text.strip())  #max 9 values
        
    finans = []
    for j in votess:

        for i in j.split():
            if i.isdigit():
                finans.append(i) 
                
                
    d = {'category_name': category_name,  'name': namee, 'rating': rating,'votes':finans, 'address': address}
    df = pd.DataFrame(d)
    
    final = pd.concat([final,df], ignore_index = True)
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []

In [13]:
final

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
375,Hospitals,Kavitha Hospital,4.3,3,"44, Sholingar Road, Walajapet, Vellore - 63251..."
376,Hospitals,Vellore Siddha Ayurveda Mar..,4.3,3,"3, Infantry Road, Vellore - 632001, Near Distr..."
377,Hospitals,First Step Home Health Care..,4.3,3,"169 D, Sundararaju Street, Vellore Ho, Vellore..."
378,Hospitals,Ganesh Hospital,4.3,3,"21, Arcot Road, Vellore Ho, Vellore - 632001, ..."
379,Hospitals,Sanjeevan Ayurveda Varma Ho..,4.0,3,"21, Arcot Salai, Sathuvacheri, Vellore - 63200..."

In [14]:
final.groupby('name').sum()

,category_name,rating,votes,address
name,,,,
A S Gurusamy Mahal Ac,Banquet_HallsBanquet_HallsBanquet_Halls,4.54.34.3,46025122,"nnai to Siththur Main Road, Pennai Kutroad, Ti..."
A S Guruswamy Mahal,Banquet_Halls,4.1,437,"4, Ponnai Thiruvalam Road, Tiruvalam, Vellore ..."
AGS Kalyana Mandapam,Banquet_Halls,3.9,97,"48, Swamy Chetti Street, Tirupattur, Vellore -..."
ARC Fertility Hospitals,Hospitals,4.8,1290,"102/283, Katpadi Road, Thottapalayam, Vellore ..."
AVS Kalyana Mandapam,Banquet_Halls,4.0,38,"tty Street, Sholingur, Vellore - 631102"
...,...,...,...,...
Vpn Mahal,Banquet_Halls,3.8,139,"Mahal 3A, Annadhana Cahathiram Road, Sholingu..."
Y G Mahal,Banquet_Halls,3.5,45,"haimedu.K.V.Kuppam, Vellore - 632201"
Yelagiri Hall,Banquet_Halls,4.0,68,"10, Krishna Nagar, Vellore - 632001, Next to D..."
Yrtm Marriage Hall,Banquet_Halls,3.7,34,"4, Virinchipuram Road, Vaduganthangal, Vellore..."
Zaibun Marriage Hal,Banquet_Halls,3.4,75,"t Area, Tirupattur - 635601"

In [17]:

import numpy as np

    


for k in range(1,9):
    
    url = 'https://www.justdial.com/Vellore/Car-Dealers/nct-10075853/page-{}'.format(k)
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get( url , headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
     
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []
    
    
    
    for l in range(0, 10):
        
        if l >= len(soup.find_all('span',class_ = 'green-box')):
            continue
        category_name.append('Cars') #category_name
        address.append(soup.find_all('a',class_ = 'morehvr')[l].text.strip()[12:]) #address
        votess.append((soup.find_all('span',class_ = 'lng_vote')[l].text)) #no of votes
        
        rating.append(soup.find_all('span',class_ = 'green-box')[l].text.strip())  #reviews
        namee.append(soup.find_all('span',class_ = 'lng_cont_name')[l].text.strip())  #max 9 values
        
    finans = []
    for j in votess:

        for i in j.split():
            if i.isdigit():
                finans.append(i) 
                
                
    d = {'category_name': category_name,  'name': namee, 'rating': rating,'votes':finans, 'address': address}
    df = pd.DataFrame(d)
    
    final = pd.concat([final,df], ignore_index = True)
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []

In [18]:
final

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
503,Cars,Kun Isuzu,5.0,2,"vey No: 187/7b2, Bangalore Road, Walajapet, Ve..."
504,Cars,Kun Isuzu Tirupattur,5.0,10,"Hero Showroom, Tirupattur Main Road, Thiruppa..."
505,Cars,Team Kshatriya,4.0,10,"lore Ho, Vellore - 632001, Vit University"
506,Cars,Vijai Sales Corporation,2.0,1,"99/A, Vellore Katpadi Road, Katpadi, Vellore -..."
507,Cars,Ganesh Cars (P) Ltd,1.0,1,"96/6 NH46, Chennai to Bangalore Highway, Vello..."

In [20]:
final.groupby('category_name').sum()

,name,rating,votes,address
category_name,,,,
Banquet_Halls,Shree Lakshmi Function HallLts Mahal AcPm Maha...,4.15.04.54.85.03.74.04.54.13.53.94.94.53.54.14...,9944442266507350735555460460252512212276597659...,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
Cars,Ganesh Cars Pvt LtdSri Amman Cars INDIA Pvt Lt...,4.24.04.74.84.03.93.83.73.94.94.24.14.23.94.23...,2335233521213241324184684678678648448424224221...,"32, New Bye Pass Road, Vellore Ho, Vellore - 6..."
Hospitals,Indira Super Speciality Hos..Manisundaram Medi...,4.13.94.24.23.84.04.14.54.14.14.53.84.13.93.94...,3063061471473131313156556522393914691469464667...,"320 / 3A1, Chittoor Main Road,, Gandhi Nagar W..."

In [21]:
    
    
import numpy as np

for k in range(1,9):
    
    url = 'https://www.justdial.com/Vellore/Gyms/nct-11575244/page-{}'.format(k)

    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get( url , headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
     
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []
    
    
    
    for l in range(0, 11):
        
        if l >= len(soup.find_all('span',class_ = 'green-box')):
            continue
        category_name.append('Finess Centers') #category_name
        address.append(soup.find_all('a',class_ = 'morehvr')[l].text.strip()[12:]) #address
        votess.append((soup.find_all('span',class_ = 'lng_vote')[l].text)) #no of votes
        
        rating.append(soup.find_all('span',class_ = 'green-box')[l].text.strip())  #reviews
        namee.append(soup.find_all('span',class_ = 'lng_cont_name')[l].text.strip())  #max 9 values
        
    finans = []
    for j in votess:

        for i in j.split():
            if i.isdigit():
                finans.append(i) 
                
                
    d = {'category_name': category_name,  'name': namee, 'rating': rating,'votes':finans, 'address': address}
    df = pd.DataFrame(d)
    
    final = pd.concat([final,df], ignore_index = True)
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []

In [35]:
final.sample(5)

,category_name,name,rating,votes,address
491,Cars,Mani Auto Service,4.3,6,"ni Road, Bagayam, Vellore - 632002, Near Bagay..."
373,Hospitals,Bsh Hospital,5.0,3,"12, Ocheri Road, Panapakkam, Vellore - 631052,..."
163,Banquet_Halls,Chithra Mahal,3.5,30,"iyattajm Manin Road, Paradarami, Vellore - 632..."
361,Hospitals,Government Primary Health C..,3.6,4,"pital Road, Tiruvalam, Vellore - 632515, Ponnai"
208,Hospitals,Dr. Mohans Diabetes Special..,4.7,67,"13, 7th East Main Road, Gandhi Nagar Vellore, ..."

In [34]:
df = final.iloc[508:,:]

In [30]:
df

,category_name,name,rating,votes,address
508,Finess Centers,B Fit Fitness Centre,4.3,222,"ind Bombay Ananda Bhavan, Mathi Nagar Road, Ka..."
509,Finess Centers,Cosmic Yoga Studios,4.8,222,"gam Residency, Sankaranpalayam, Vellore - 6320..."
510,Finess Centers,Stayoung Fitness Equipments,4.7,28,"14 Bharathidasan Street, Arcot Byepass, Ranipe..."
511,Finess Centers,V Fitness Club,4.6,28,"7, 42nd Street, Phase 2, Sathuvacheri, Vellore..."
512,Finess Centers,Snap Fitness,4.2,5,"36 2nd Floor, RPM Street, Sankaranpalayam, Vel..."
...,...,...,...,...,...
581,Finess Centers,Aj Fitness,4.6,1,"nnaisalai, Katpadi north, Katpadi - 632007"
582,Finess Centers,Friends Shuttle Ground,5.0,45,"006, V G Rao Nagar, Bharathi Nagar, Katpadi no..."
583,Finess Centers,Olimpia Gym,2.0,45,"hupettai Road, Tirupattur, Vellore - 635601, g..."
584,Finess Centers,Palan Teju Dhanalakshmi Hou..,1.0,14,"ungalipatti, Vellore - 635654"
585,Finess Centers,Arnold Fitness Center,0.5,14,"Bus Stand, Textile Market, Tirupattur, Vellor..."

In [31]:
df.groupby('name').sum()

,category_name,rating,votes,address
name,,,,
A J Fitness,Finess Centers,4.5,5,"2, Chennai Salai, Vellore Engg College, Vellor..."
Aarthy Beauty Clinic And Gy..,Finess Centers,3.5,4,"8, Gandhi Nagar, Gandhi Nagar Vellore, Vellore..."
Aj Fitness,Finess Centers,4.6,1,"nnaisalai, Katpadi north, Katpadi - 632007"
Ajiths Palace,Finess Centers,5.0,2,"Janakiraman Layout, Kammavanpet, Varagur, Vel..."
Alif Power Nutrition and Gy..,Finess Centers,4.7,4,"ithapatarai, Kagithapattarai, Vellore - 632012"
...,...,...,...,...
V Fitness Club,Finess CentersFiness Centers,4.64.6,2864,"7, 42nd Street, Phase 2, Sathuvacheri, Vellore..."
V Solid Unisex Fitness Stud..,Finess Centers,4.9,51,"t 9, V Solid Unisex Fitness Studio, 48 B, Subr..."
V.I.T. Outdoor Stadium,Finess Centers,4.0,22,"University, Vellore, Vellore HO, Vellore - 63..."
World Gym,Finess Centers,4.5,20,"17, Bujannarao Street, Walajapet, Vellore - 63..."
ronic gym,Finess Centers,4.0,2,"r btm mahal, Gandhi Nagar Vellore, Vellore - 6..."

In [36]:
final

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
581,Finess Centers,Aj Fitness,4.6,1,"nnaisalai, Katpadi north, Katpadi - 632007"
582,Finess Centers,Friends Shuttle Ground,5.0,45,"006, V G Rao Nagar, Bharathi Nagar, Katpadi no..."
583,Finess Centers,Olimpia Gym,2.0,45,"hupettai Road, Tirupattur, Vellore - 635601, g..."
584,Finess Centers,Palan Teju Dhanalakshmi Hou..,1.0,14,"ungalipatti, Vellore - 635654"
585,Finess Centers,Arnold Fitness Center,0.5,14,"Bus Stand, Textile Market, Tirupattur, Vellor..."

In [37]:
final.groupby('name').sum()

,category_name,rating,votes,address
name,,,,
A J Fitness,Finess Centers,4.5,5,"2, Chennai Salai, Vellore Engg College, Vellor..."
A S Gurusamy Mahal Ac,Banquet_HallsBanquet_HallsBanquet_Halls,4.54.34.3,46025122,"nnai to Siththur Main Road, Pennai Kutroad, Ti..."
A S Guruswamy Mahal,Banquet_Halls,4.1,437,"4, Ponnai Thiruvalam Road, Tiruvalam, Vellore ..."
AGS Kalyana Mandapam,Banquet_Halls,3.9,97,"48, Swamy Chetti Street, Tirupattur, Vellore -..."
ARC Fertility Hospitals,Hospitals,4.8,1290,"102/283, Katpadi Road, Thottapalayam, Vellore ..."
...,...,...,...,...
Y G Mahal,Banquet_Halls,3.5,45,"haimedu.K.V.Kuppam, Vellore - 632201"
Yelagiri Hall,Banquet_Halls,4.0,68,"10, Krishna Nagar, Vellore - 632001, Next to D..."
Yrtm Marriage Hall,Banquet_Halls,3.7,34,"4, Virinchipuram Road, Vaduganthangal, Vellore..."
Zaibun Marriage Hal,Banquet_Halls,3.4,75,"t Area, Tirupattur - 635601"
ronic gym,Finess Centers,4.0,2,"r btm mahal, Gandhi Nagar Vellore, Vellore - 6..."

In [38]:
586 - 476

110

In [39]:
#110 duplicate values

In [40]:
final.to_csv('vellore_business.csv', sep = ',', index = False, header = True)

In [41]:
final

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
581,Finess Centers,Aj Fitness,4.6,1,"nnaisalai, Katpadi north, Katpadi - 632007"
582,Finess Centers,Friends Shuttle Ground,5.0,45,"006, V G Rao Nagar, Bharathi Nagar, Katpadi no..."
583,Finess Centers,Olimpia Gym,2.0,45,"hupettai Road, Tirupattur, Vellore - 635601, g..."
584,Finess Centers,Palan Teju Dhanalakshmi Hou..,1.0,14,"ungalipatti, Vellore - 635654"
585,Finess Centers,Arnold Fitness Center,0.5,14,"Bus Stand, Textile Market, Tirupattur, Vellor..."

In [43]:
#https://www.justdial.com/Vellore/Chemists/nct-10096237/page-20

In [44]:
    
    
import numpy as np

for k in range(1,21):
    
    url = 'https://www.justdial.com/Vellore/Chemists/nct-10096237/page-{}'.format(k)

    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get( url , headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
     
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []
    
    
    
    for l in range(0, 11):
        
        if l >= len(soup.find_all('span',class_ = 'green-box')):
            continue
        category_name.append('Chemists') #category_name
        address.append(soup.find_all('a',class_ = 'morehvr')[l].text.strip()[12:]) #address
        votess.append((soup.find_all('span',class_ = 'lng_vote')[l].text)) #no of votes
        
        rating.append(soup.find_all('span',class_ = 'green-box')[l].text.strip())  #reviews
        namee.append(soup.find_all('span',class_ = 'lng_cont_name')[l].text.strip())  #max 9 values
        
    finans = []
    for j in votess:

        for i in j.split():
            if i.isdigit():
                finans.append(i) 
                
                
    d = {'category_name': category_name,  'name': namee, 'rating': rating,'votes':finans, 'address': address}
    df = pd.DataFrame(d)
    
    final = pd.concat([final,df], ignore_index = True)
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []

In [45]:
final

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
781,Chemists,Kumaran Medicals,5.0,1,"121, Bus Road, Odugathur, Vellore - 632103"
782,Chemists,Magi Medicals,5.0,1,"213/4, Kaanar Street, Vellore Kasba, Vellore -..."
783,Chemists,Arokiam Dr I Clinic,5.0,1,"ar 239, 49 Asiriyar Nagar 49 Asiriyar Nagar, V..."
784,Chemists,Sri Lakshmi Medicals,5.0,1,"M.B.T. Road, Walajapet, Vellore - 632513, Opp..."
785,Chemists,Om Sakthi Medicals,5.0,1,"nathapuram, Vellore, Tamil Nadu, Thennamaram S..."

In [46]:
#https://www.justdial.com/Vellore/Grocery-Stores/nct-10237947/page-9

In [47]:
    
    
import numpy as np

for k in range(1,21):
    
    url = 'https://www.justdial.com/Vellore/Grocery-Stores/nct-10237947/page-{}'.format(k)

    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage = requests.get( url , headers = headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
     
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []
    
    
    
    for l in range(0, 11):
        
        if l >= len(soup.find_all('span',class_ = 'green-box')):
            continue
        category_name.append('Grocery_shops') #category_name
        address.append(soup.find_all('a',class_ = 'morehvr')[l].text.strip()[12:]) #address
        votess.append((soup.find_all('span',class_ = 'lng_vote')[l].text)) #no of votes
        
        rating.append(soup.find_all('span',class_ = 'green-box')[l].text.strip())  #reviews
        namee.append(soup.find_all('span',class_ = 'lng_cont_name')[l].text.strip())  #max 9 values
        
    finans = []
    for j in votess:

        for i in j.split():
            if i.isdigit():
                finans.append(i) 
                
                
    d = {'category_name': category_name,  'name': namee, 'rating': rating,'votes':finans, 'address': address}
    df = pd.DataFrame(d)
    
    final = pd.concat([final,df], ignore_index = True)
    category_name = []
    namee = []
    rating = []
    votess = []
    address = []

In [48]:
final

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
981,Grocery_shops,Datchayani Stores,4.0,2,"Murali Nagar Main Road , Murali Nagar Main Ro..."
982,Grocery_shops,Thirumagal Traders,4.0,2,",Vallalat Mainroad,, (Opp To State Bank Of Ind..."
983,Grocery_shops,Sri Balaji Provision Store,4.0,2,"47/2, Phase 3, Vallalar, Nethaji Bose Road, S..."
984,Grocery_shops,Revathi Store,4.0,2,"avaram, Vellore - 632505"
985,Grocery_shops,Sps Mushroom Wholesale And ..,4.0,2,"ns School, Bus Stop, Advocate Ramanathan Nagar..."

In [49]:
final.groupby('name').sum()

,category_name,rating,votes,address
name,,,,
A J Fitness,Finess Centers,4.5,5,"2, Chennai Salai, Vellore Engg College, Vellor..."
A L Nathan Medical Shop,Chemists,3.7,2,"5,Shop No 3 & 4, Pudhu Street, Kagithapattarai..."
A R Traders,Grocery_shops,5.0,3,"TRADERS, 5/4 Khatib Abdul Khadar Street,, Rn ..."
A S Gurusamy Mahal Ac,Banquet_HallsBanquet_HallsBanquet_Halls,4.54.34.3,46025122,"nnai to Siththur Main Road, Pennai Kutroad, Ti..."
A S Guruswamy Mahal,Banquet_Halls,4.1,437,"4, Ponnai Thiruvalam Road, Tiruvalam, Vellore ..."
...,...,...,...,...
Zaibun Marriage Hal,Banquet_Halls,3.4,75,"t Area, Tirupattur - 635601"
Zam Zam Store,Grocery_shops,4.1,6,"thustreet , 66, Lalapet Road, Walajapet, Vello..."
Zuhair Store,Grocery_shops,4.0,6,"d, Timiri, Vellore - 632512"
new golden medicals,Chemists,5.0,2,"2 AKMC Angadi, Officers Line, Vellore - 632001..."
ronic gym,Finess Centers,4.0,2,"r btm mahal, Gandhi Nagar Vellore, Vellore - 6..."

In [51]:
final.to_csv('vellore_business.csv', index = False, header = True)

In [52]:
df = pd.read_csv('vellore_business.csv')

In [53]:
df

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
981,Grocery_shops,Datchayani Stores,4.0,2,"Murali Nagar Main Road , Murali Nagar Main Ro..."
982,Grocery_shops,Thirumagal Traders,4.0,2,",Vallalat Mainroad,, (Opp To State Bank Of Ind..."
983,Grocery_shops,Sri Balaji Provision Store,4.0,2,"47/2, Phase 3, Vallalar, Nethaji Bose Road, S..."
984,Grocery_shops,Revathi Store,4.0,2,"avaram, Vellore - 632505"
985,Grocery_shops,Sps Mushroom Wholesale And ..,4.0,2,"ns School, Bus Stop, Advocate Ramanathan Nagar..."

In [54]:
df.groupby('name').sum()

                         rating  votes
name
A J Fitness                 4.5      5
A L Nathan Medical Shop     3.7      2
A R Traders                 5.0      3
A S Gurusamy Mahal Ac      13.1    607
A S Guruswamy Mahal         4.1    437
...                         ...    ...
Zaibun Marriage Hal         3.4     75
Zam Zam Store               4.1      6
Zuhair Store                4.0      6
new golden medicals         5.0      2
ronic gym                   4.0      2

[823 rows x 2 columns]

In [55]:
df.shape

(986, 5)

In [56]:
986 - 823 # duplicate values

163

In [59]:
df.isnull().sum() #no null values

category_name    0
name             0
rating           0
votes            0
address          0
dtype: int64

In [63]:
temp_df = df.iloc[:,2:4]

In [64]:
temp_df

     rating  votes
0       4.1      9
1       5.0      9
2       4.5      4
3       4.8      4
4       5.0      4
..      ...    ...
981     4.0      2
982     4.0      2
983     4.0      2
984     4.0      2
985     4.0      2

[986 rows x 2 columns]

In [74]:
temp_df.sort_values(by = 'votes', ascending = False).head(20)

     rating  votes
23      3.4   7659
22      4.3   7659
25      3.8   5162
24      4.0   5162
10      3.9   5073
11      4.9   5073
425     3.9   3241
384     4.0   3241
385     3.9   3241
424     4.0   3241
464     4.0   3241
465     3.9   3241
381     4.0   2335
421     4.0   2335
380     4.2   2335
461     4.0   2335
460     4.2   2335
420     4.2   2335
26      3.8   1601
27      4.1   1601

In [75]:
temp_df[temp_df['votes'] >= 1000].shape #  28 famous business among all the category

(28, 2)

In [84]:
temp_df[(temp_df['votes'] >= 1000) & (temp_df['rating'] >= 4.5)]

     rating  votes
11      4.9   5073
210     4.8   1290
211     4.5   1290

In [88]:
temp_df[(temp_df['votes'] >= 1000) & (temp_df['rating'] >= 4.5)].shape  #3 best known business among all the listed business

(3, 2)

In [90]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_name  986 non-null    object
 1   name           986 non-null    object
 2   rating         986 non-null    object
 3   votes          986 non-null    object
 4   address        986 non-null    object
dtypes: object(5)
memory usage: 38.6+ KB

In [91]:
final.corr()

Empty DataFrame
Columns: []
Index: []

temp_df.corr()

In [93]:

temp_df.corr()  #biased data, since less votes generally resulted in full rating and more votes show actuall rating,

          rating     votes
rating  1.000000 -0.028127
votes  -0.028127  1.000000

In [95]:
temp_df.corr()['rating']

rating    1.000000
votes    -0.028127
Name: rating, dtype: float64

In [97]:
df

,category_name,name,rating,votes,address
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL..."
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda..."
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka..."
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ..."
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002"
...,...,...,...,...,...
981,Grocery_shops,Datchayani Stores,4.0,2,"Murali Nagar Main Road , Murali Nagar Main Ro..."
982,Grocery_shops,Thirumagal Traders,4.0,2,",Vallalat Mainroad,, (Opp To State Bank Of Ind..."
983,Grocery_shops,Sri Balaji Provision Store,4.0,2,"47/2, Phase 3, Vallalar, Nethaji Bose Road, S..."
984,Grocery_shops,Revathi Store,4.0,2,"avaram, Vellore - 632505"
985,Grocery_shops,Sps Mushroom Wholesale And ..,4.0,2,"ns School, Bus Stop, Advocate Ramanathan Nagar..."

In [98]:
#dropping duplicates

In [99]:
df.drop_duplicates(['name'], inplace = True)

In [130]:
df['address'].iloc[2:].head(1)

2    5/4, Vellore to Arni Road-Adukkamparai, Adukka...
Name: address, dtype: object

In [110]:
df.groupby('category_name').sum()

                rating  votes
category_name
Banquet_Halls    701.7  59489
Cars             173.8  16439
Chemists         659.6   1245
Finess Centers   313.4   1757
Grocery_shops    818.4   4106
Hospitals        707.5  16572

In [123]:
import geopandas as gp

In [128]:
from geopy.geocoders import Nominatim

In [160]:
geolocator = Nominatim(user_agent = 'nirbhay.kumar2020@vitstudent.ac.in')
coordinates = geolocator.geocode('vizag') #mattu
print((coordinates.latitude, coordinates.longitude))
#print((coordinates.raw))

(17.7231276, 83.3012842)

In [154]:
df = pd.read_csv('vellore_final_business.csv')

In [155]:
df

,category_name,name,rating,votes,address,Latitude,Longitude
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL...",12.968243,79.147902
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda...",12.872515,79.133717
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka...",12.844414,79.135102
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ...",12.409547,78.508443
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002",12.892657,79.136510
...,...,...,...,...,...,...,...
981,Grocery_shops,Datchayani Stores,4.0,2,"Murali Nagar Main Road , Murali Nagar Main Ro...",12.884453,79.135653
982,Grocery_shops,Thirumagal Traders,4.0,2,",Vallalat Mainroad,, (Opp To State Bank Of Ind...",12.937933,79.167073
983,Grocery_shops,Sri Balaji Provision Store,4.0,2,"47/2, Phase 3, Vallalar, Nethaji Bose Road, S...",12.941885,79.167327
984,Grocery_shops,Revathi Store,4.0,2,"avaram, Vellore - 632505",13.017016,79.481638
985,Grocery_shops,Sps Mushroom Wholesale And ..,4.0,2,"ns School, Bus Stop, Advocate Ramanathan Nagar...",12.487043,78.563257

In [156]:
df.groupby('name').sum()

                         rating  votes   Latitude   Longitude
name
A J Fitness                 4.5      5  12.963996   79.160497
A L Nathan Medical Shop     3.7      2  12.929244   79.144051
A R Traders                 5.0      3  12.904789   79.123833
A S Gurusamy Mahal Ac      13.1    607  38.910387  237.560786
A S Guruswamy Mahal         4.1    437  12.994636   79.261664
...                         ...    ...        ...         ...
Zaibun Marriage Hal         3.4     75  12.503511   78.577441
Zam Zam Store               4.1      6  12.956386   79.336398
Zuhair Store                4.0      6  12.831173   79.303607
new golden medicals         5.0      2  12.914652   79.132614
ronic gym                   4.0      2  12.950262   79.131128

[823 rows x 4 columns]

In [157]:
df.drop_duplicates(['name'], inplace = True)

In [158]:
df

,category_name,name,rating,votes,address,Latitude,Longitude
0,Banquet_Halls,Shree Lakshmi Function Hall,4.1,9,"26, New Thiruvalam Road Vit Road, KATPADI VELL...",12.968243,79.147902
1,Banquet_Halls,Lts Mahal Ac,5.0,9,"-203/1B2 6B , Ramalingam Nagar, Arni Road, Eda...",12.872515,79.133717
2,Banquet_Halls,Pm Mahal Ac,4.5,4,"5/4, Vellore to Arni Road-Adukkamparai, Adukka...",12.844414,79.135102
3,Banquet_Halls,Dhanamsathyan Mahal Ac,4.8,4,"1/118, Dharmapuri Main Road, Kakankar Railway ...",12.409547,78.508443
4,Banquet_Halls,Ghayathri Mini Hall Ac,5.0,4,"18, Arni Road, Bagayam, Vellore - 632002",12.892657,79.136510
...,...,...,...,...,...,...,...
980,Grocery_shops,Sri M.k.k. Enterprises,4.0,2,", 23, Pari Crossstreet, Pallavansathu Kuppam, ...",12.892853,79.129805
981,Grocery_shops,Datchayani Stores,4.0,2,"Murali Nagar Main Road , Murali Nagar Main Ro...",12.884453,79.135653
982,Grocery_shops,Thirumagal Traders,4.0,2,",Vallalat Mainroad,, (Opp To State Bank Of Ind...",12.937933,79.167073
983,Grocery_shops,Sri Balaji Provision Store,4.0,2,"47/2, Phase 3, Vallalar, Nethaji Bose Road, S...",12.941885,79.167327
985,Grocery_shops,Sps Mushroom Wholesale And ..,4.0,2,"ns School, Bus Stop, Advocate Ramanathan Nagar...",12.487043,78.563257

In [159]:
from pandas_profiling import ProfileReport
prof= ProfileReport(df)
prof.to_file(output_file = 'vellore_business_analysis.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]